mixin sub-menu()
	.container.text-center
		h5.col-sm-2.col-sm-offset-1
			a(href='/getting-started') GETTING STARTED
		h5.col-sm-2
			a(href='/how-vizon-works') HOW IT WORKS
		h5.col-sm-2
			a(href='/partnerships') PARTNERSHIPS
		h5.col-sm-2
			a(href='/contact') CONTACT
		h5.col-sm-2
			a(href='/faq') FAQ
	.row
		hr
