extends ../layouts/default

block js
  script(src='/Highstock-2.0.4/js/highstock.js')
  script(src='/Highstock-2.0.4/js/modules/exporting.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/graph/graph.js')
  
block content
  br
  br
  .dropdown
    button#dropdownMenu1.btn.btn-default.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
        | Select Data
        span.caret
      ul#dropdown1.dropdown-menu
        //
          each descriptor in query
            li(role='presentation', class='dropdown-header')= descriptor._id + ", " +  descriptor.n
              each data, i in descriptor.p
                if i >= 2 
                  a(role='menuitem', tabindex='-1', href='#')= data.n
  
  ul#selectedlist.list-group
    

  #graphcontainer(style='min-width: 310px; height: 400px; margin: 0 auto;')
  button#exportbutton(type='button') Scatter

