extends ../layouts/default
include ../mixins/sub-menu

block content
	+sub-menu()

	.container
		h2 #{section}
		p Stanford University SSDL

	.container 
		p Developed by Kevin Rausch, Arni Lehto, and Michael D'Angelo, Vizon is an open source satellite management too written entirely in Node.JS 
		p Vizon is useful for reviewewing telemetry received by satellites, sending commands to satellites, etc etc
		br
		h3 Vizon Control Center
		p sits in the cloud
		h3 Vizon Ground Station 
		p built to run on any machine, vizon ground station ...