extends ../layouts/default
include ../mixins/mission-viewer

block js
	script(src='/socket.io/socket.io.js')
	script(src='/js/missions.js')
	//+mission-viewer-js()
	//script(src='/js/lib/jquery/jquery-1.11.0.min.js')
	//script(src='/js/lib/bootstrap/bootstrap-3.1.0.min.js')
	script(src='/js/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')
	script(src='/js/underscore/underscore.js')
	script(src='/js/backbone/backbone.js')
	script(src='/js/moment/moment.js')
	//script(src='/js/viewmissionbundle.js')

block content
	//.container
		.btn-group
		button#missionddb.btn.btn-default.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
			| Select Mission 
			span.caret
		ul#missiondd.dropdown-menu
		ul#selectedlist.list-group
		
	.container
		.dropdown
			button#dropdownMenu1.btn.btn-default.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
					| Select Mission 
					span.caret
				ul.dropdown-menu(role='menu')
					for mission in missions
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='/mission/'+mission.missionId) #{mission.missionId}, #{mission.name}
