extends ../layouts/default
include ../mixins/sub-menu

block content
	+sub-menu()

	.container
		h2 #{section}
		p Stanford University SSDL

	.container 
		p Currently two SSDL satellites, QB-50 and LMRST-SAT are being developed in conjunction with Vizon. If you'd like to become involved, drop us a line at
		| info@vizon.us, or fork our project on github.